footer.footer
    div.footer__logo
        img(src ='/img/logo-green.png' alt ='Natour Logo')
    ul.footer__nav
        //- still works as if there was a new line with indentation
        li: a(href ='#') About Us
        li: a(href ='#') Download App
        li: a(href ='#') Become a guide
        li: a(href ='#') Careers
        li: a(href ='#') Contact
    p.footer__copyright &copy; by Rahil Ganatra  